@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#dance::before {
    content: "\\(^ω^\\)";
    animation: dance infinite 1s;
    padding-left: 10px;
}

body{
    background-color: #1b1b1b;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
}

input{
    background-color: #182631;
    color: #cdcdcd;
    font-family: "Open Sans", sans-serif;

    width: 40%;
    height: 100%;

    border-color: #696969;
    border-style: thin thin thin;
    border-left: thick solid #5e9eff;
    border-radius: 5px;
}

input:focus{
    outline: none;
    border: none none none;
}

div{
    font-family: "Open Sans", sans-serif;
}

@keyframes dance {
    0% {
        content: "\\(^ω^\\)";
    }
    50% {
        content: "(/^ω^)/";
    }
}